@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide {
  animation: scrollX 20s linear infinite;
}
